.contenu-title{
    background-color: #ffe6e6;
}

/* .btn-bouton-save{
    margin-left: 700px;
    margin-top: -90px;
} */
a:link{
    text-decoration: none;
}

.bouton-ajouter{
    color: #fff;
    border-radius: 4px;
    border: 2px;
}
